html {
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
    /* width: 100%;
    font-size: 1em;
    line-height: 1.4;
    -webkit-text-size-adjust: 100%;
    line-height: 1.15; */
    background-color: #fbfbfb;
}

body {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .25px;
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
    margin: 0;
}

ul {
    list-style: none;
}

html,
p,
ul,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}


h1,
h2 {
    letter-spacing: 2px;
}

h1 {
    font-size: 60px;
    font-weight: 600;
}

h2.title {
    font-size: 40px;
    letter-spacing: -2px;
    font-weight: 700;
    font-family: 'Karla', -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
    -webkit-font-smoothing: antialiased;
}

h2 {
    font-size: 11px;
}

h2.subheading {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
    padding: 10px 10px 10px 10px;
    background-color: #4572b7;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='250' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
background-position-x: right;
background-repeat: no-repeat;
    
}

h3 {
    font-size: 13px;
    margin-bottom: 5px;
}



a:active,
a:hover,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}
a {
    background-color: transparent;
    border-bottom: 1px dotted #4572b7;
    padding-bottom: 2px;
    /* transition: .2s ease-in-out; */
}
a:hover {
    color: #4572b7;
}
a.icon {
    background-color: transparent;
    border-bottom: none;
    padding: 10px;
    color: #fff;
}
a.icon:hover {
    color: inherit;
}
a.none {
    border-bottom: none;
    padding-bottom: 0;
}



.wrapper {
    display: flex;
    height: 100vh;
}



/* HEADER */

header {
    flex: 0 0 auto;
    height: 100vh;
    pointer-events: none;
    position: fixed;
    width: 30%;
}

.header-padding {
    /* padding: 50px 10px; */
    padding: 100px 10px 50px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.header-container {
    align-items: center;
    
    background-color: #4572b7;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
    background-image: url(./images/wembury.jpeg);
    background-position: 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 0;
}
.header-container:after {
    background-color: rgba(69, 114, 183, 0);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.title-container {
    display: flex;
    flex: 1;
}

.title-container {
    /*align-items: center;*/
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.portfolio-title {
    color: #fafafa;
    font-weight: 300;
    line-height: 45px;
    margin: 0 auto;
    font-size: 45px;
    font-family: 'Karla', -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
    letter-spacing: -2px;
}


.portfolio-title .connor-pote {
    display: block;
    font-weight: bold;
}

.title-container .job {
    color: #b6ceeb;
    font-size: 32px;
}

.social-links {
    color: #fafafa;
    font-size: 11px;
    letter-spacing: 2px;
    pointer-events: all;
    text-transform: uppercase;
    z-index: 2;
    font-family: 'Karla', -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.social-links i, .social-links svg {
    margin-right: 5px;
    vertical-align: middle;
    font-size: 20px;
    transition: transform 0.4s;
    transform-origin: 50% 50%;
    -webkit-backface-visibility: hidden;
-webkit-transform: translateZ(0) scale(1.0, 1.0);
}
.social-links .label {
    border-bottom: 1px solid transparent;
    padding-bottom: 1px;
    transition: .2s ease-in-out;
}
.social-links a:hover .label {
    border-bottom: 1px solid #fafafa;
    transition: .2s ease-in-out;
}
.social-links a:hover i, .social-links a:hover svg {
    transform: perspective(1px) scale(1.3);
    transition: transform 0.4s;
}



/* RIGHT AREA */

article {
    width: 70%;
    flex: 1 1 auto;
    overflow: auto;
    padding-left: 30%;
}

.content-area {
    padding: 80px;
    /*below overflow for offscreen subheadings*/
    overflow: hidden;
}

/* Portfolio Areas */

.portfolio-section+.portfolio-section {
    margin-top: 50px;
}

.portfolio-section p {
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 21px;
}

.title {
    /*color: #b71c1c;*/
    color: rgb(69, 114, 183);
    font-size: 32px;
    margin-bottom: 30px;
}







ul {
    position: relative;
}


li.list-content {
    line-height: 20px;
    margin-bottom: 20px;
    position: relative;
    font-size: 13px;
}
li.list-content:last-of-type {
    margin-bottom: 0px;
}

.content-header {
    font-size: 13px;
    margin-bottom: 5px;
}
.content-details,
.content-title,
.subheader-details {
    display: flex;
}

.content-title {
    font-weight: 600;
}

#skills .content-title {
    color: #4572b7;
}

/*.content-subheader {
    font-size: 13px;
}
*/
.horizontal-wrap,
.horizontal-wrap li {
    display: flex;
}

.horizontal-wrap {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-top: -5px;
}

.horizontal-wrap li {
    margin-bottom: 0;
    align-items: center;
}
/*.horizontal-wrap li:first-of-type {
    padding: 2.5px 10px 2.5px 0;
}*/
.horizontal-wrap li {
padding: 2.5px 10px;
}










/**/

.project {
    position: relative;
}

.project-image {
    background-position: 50%;
    background-size: cover;
    /*background-size: 100%;*/
    height: 200px;
    position: relative;
    width: 100%;
    transition: .2s ease-in-out;
}

.project-image:before {
    background-color: rgba(69, 114, 183, .3);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .2s ease-in-out;
    z-index: 0;
}

.project:hover .project-image:before {
    background-color: transparent;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .2s ease-in-out;
    z-index: 1;
}


.project-photosite {
    background-image: url(./images/still-photosite.jpg);
}

.project-description {
    display: -ms-grid;
    display: grid;
    font-size: 13px;
    grid-template-columns: 1fr auto;
    justify-content: flex-end;
    letter-spacing: 1px;
    padding: 20px 0 15px;
}


.project:hover .project-name {
    margin-left: 4px;
    color: #4572b7;
}

.project-details,
.project-name {
    display: flex;
}

.project-name {
    font-weight: 600;
    transition: .2s ease-in-out;
    letter-spacing: 0px;
    display: inline-block;
    font-size: 14px;
}

.project-details {
    justify-content: flex-end;
}

.project-details li+li {
    margin-left: 20px;
}

.project+.project {
    margin-top: 40px;
}




li#portfolio .project-image {
    background-image: url(./images/portfolio.png);
   /* background-position: 50% 42%;*/
}

li#destiny .project-image  {
    background-image: url(./images/destiny.png);
}

li#fpl .project-image  {
    background-image: url(./images/fpl.png);
    background-position: 50% 85%;
}


.timeline-header,
.timeline-subheader {
    -ms-grid-columns: 1fr auto;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr auto;
}

.content-details,
.subheader-details {
    -moz-justify-content: flex-end;
    -ms-flex-pack: flex-end;
    -ms-justify-content: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.content-body {
    margin-top: 15px;
}





/*
ul.list {
    position: relative;
}
li.list-content {
    line-height: 20px;
    margin-bottom: 20px;
    position: relative;
}
.list {
padding-left: 40px;
position: relative;
}
.list:before {
background-color: #fafafa;
border: 1px solid #4572b7;
border-radius: 50%;
bottom: 0;
content: "";
height: 7px;
left: 0;
margin-left: -3px;
position: absolute;
width: 7px;
z-index: 1;
}
.bullet:after {
background-color: #4572b7;
border: 1px solid transparent;
border-radius: 50%;
content: "";
height: 7px;
left: 0;
margin-left: -44px;
position: absolute;
top: 5px;
transition: .2s ease-in-out;
width: 7px;
z-index: 1;
}
.list-content:hover .bullet:after {
background-color: #fafafa;
border: 1px solid #4572b7;
transition: .2s ease-in-out;
}
.list:after {
background-color: #4572b7;
bottom: 0;
content: "";
left: 0;
position: absolute;
top: 5px;
width: 1px;
}*/




.rights p {
    font-size: 10px;
    text-align: right;
}








/* MEDIA QUERIES */

@media screen and (max-width:1023px) {

    body, html {
        overflow:initial;
    }
    .wrapper {
        display: block;
    }

    header {
        display: block;
        height: 300px;
        position: relative;
        width: 100%;
        pointer-events: initial;
    }
    .header-container {
        background-position: 50% 47%;
    }
    .portfolio-title {
        line-height: 1;
    }
    .title-container .job {
        color: #fafafa;
    }

    article {
        display: block;
        margin-left: 0;
        width: 100%;
        padding-left: 0%;
    }

}


@media screen and (max-width:660px) {

    .content-details, .content-title, .project-description, .project-details, .project-name, .subheader-details {
        display: block;
    }
    .project-details li {
        display: inline-block;
        margin-top: 10px;
    }
    .timeline-header, .timeline-subheader {
        display: block;
        margin-bottom: 0;
    }
    .timeline-header {
        margin-bottom:10px;
    }
    .timeline-header .content-title {
        margin:0;
    }

    .content-area {
        padding:60px;
    }

    li#portfolio .project-image {
        background-position-x: left;
    }
    
}

@media screen and (max-width:480px) {

    .content-area {
        padding: 40px 35px;
    }
    
}


.title-container {
    align-items: center;
}

.header-padding {
     padding: 50px 10px; 
}

.header-container:after {
    background-color: rgba(69, 114, 183, 0.8);
}













